{% extends 'main/layout.html' %}

{% block title %}Католог{% endblock %}

{% block content %}
    <div class="features">
        <h1>Товар</h1>

        {% for el in katalog %}
            <div class="alert alert-warning">
                <h3>{{ el.name }}</h3>
                <p>Кол-во: {{ el.kolvo }}кг</p>
                <p>Цена: {{ el.price }}₽</p>
                <a href="{% url 'katalog-delete' el.id %}" class="btn btn-danger">Удалить</a>
                <a href="{% url 'katalog-update' el.id %}" class="btn btn-info">Редактировать</a>


            </div>
        {% endfor %}
    </div>
{% endblock %}