{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Информационная система учета играет ключевую роль в оптимизации процессов управления и контроля строительного предприятия.</h1>
        <ol><li>Автоматизация процессов: Информационная система учета позволяет автоматизировать основные процессы, такие как планирование, контроль, учет и анализ деятельности строительного предприятия. Это значительно упрощает работу и сокращает время на обработку данных.</li>
            <li>Управление ресурсами: Система позволяет контролировать и оптимизировать использование ресурсов, таких как материалы, оборудование, трудовые ресурсы и финансы.</li>
            <li>Контроль качества: Информационная система помогает отслеживать качество выполнения строительных работ на всех этапах, а также контролировать соблюдение требований и норм. </li>
            <li>Планирование и прогнозирование: Система обеспечивает возможность планирования и прогнозирования деятельности предприятия, что позволяет принимать обоснованные решения и избегать непредвиденных ситуаций.</li>
            <li>Взаимодействие с клиентами: Информационная система упрощает процесс взаимодействия с заказчиками, предоставляя им возможность отслеживать ход выполнения работ и контролировать свои затраты.</li></ol>

    </div>

{% endblock %}
